Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series?

In [2]:
import pandas as pd
data=[4,8,25,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    25
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it?

In [15]:
list=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(list)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3)

In [6]:
list1=[{'Name':'Alice','Age':25,'Gender':'Female'},{'Name':'Bob','Age':30,'Gender':'Male'},{'Name':'Claire','Age':27,'Gender':'Female'}]
df=pd.DataFrame(list1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example?

   In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is like a spreadsheet or a SQL table, where rows represent the observations and columns represent the variables. A DataFrame can be thought of as a collection of Pandas Series, where each Series represents a column of the DataFrame.
On the other hand, a Pandas Series is a 1-dimensional labeled array capable of holding data of any type. A Series can be thought of as a single column of data in a DataFrame.
    Here's an example to illustrate the difference between a Pandas Series and a DataFrame:

In [7]:
series=pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],name="Numbers")
list3=[{'Name':'Alice','Age':25,'Gender':'Female'},{'Name':'Bob','Age':30,'Gender':'Male'},{'Name':'Claire','Age':27,'Gender':'Female'}]
df=pd.DataFrame(list3)
print("SERIES")
print(series)
print("\nDATA FRAME")
print(df)

SERIES
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Numbers, dtype: int64

DATA FRAME
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas offers a wide range of functions that you can use to manipulate data in a DataFrame. Here are some common functions:

1) head() and tail(): These functions allow you to view the first or last n rows of a DataFrame, respectively. For example, you can use df.head() to view the first five rows of a DataFrame named df.

2) describe(): This function provides a summary of the statistical properties of each column in the DataFrame, such as the mean, standard deviation, and quartiles.

3) loc[] and iloc[]: These functions allow you to slice and select specific rows and columns of the DataFrame. loc[] is used for label-based indexing, while iloc[] is used for integer-based indexing. For example, you can use df.loc[:, 'column_name'] to select all rows of a specific column named column_name.

4) drop(): This function allows you to drop rows or columns from the DataFrame based on specific conditions. For example, you can use df.drop(df[df['column_name'] < 0].index) to drop all rows where the values in the column column_name are less than 0.

5) groupby(): This function allows you to group the DataFrame by one or more columns and apply a function to each group. For example, you can use df.groupby('column_name').mean() to calculate the mean of each column for each unique value in the column column_name.

6) merge(): This function allows you to join two or more DataFrames based on a common column. For example, you can use pd.merge(df1, df2, on='column_name') to join two DataFrames df1 and df2 on the column column_name.

7) apply(): This function applies a function to each element of the DataFrame. For example, you can use df.apply(lambda x: x*2) to multiply each element of the DataFrame by 2. 

Here's an example of how you might use one of these functions:
    Suppose you have a DataFrame named sales_data that contains information about sales of different products in different regions. You want to calculate the total sales for each region. You can use the groupby() function to group the DataFrame by the "region" column, and then apply the sum() function to calculate the total sales for each region:

In [9]:
data = {'Product': ['A', 'B', 'C', 'A', 'B', 'C'],
        'Region': ['North', 'North', 'North', 'South', 'South', 'South'],
        'Sales': [100, 200, 150, 250, 300, 200]}
df=pd.DataFrame(data)
df.groupby("Region")['Sales'].sum()

Region
North    450
South    750
Name: Sales, dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable objects. That means you can modify their values, add new data, or delete data in-place. On the other hand, the Panel is deprecated and no longer recommended for use. Instead, you should use the more powerful and flexible MultiIndex objects to represent higher-dimensional data in Pandas. However, if you do use the Panel object, it is also mutable.
Here's an example to demonstrate how Series and DataFrame can be modified in-place:

In [11]:
series=pd.Series([2,3,4,5,6,7,8,9,11],name="tapan")
series[1]=25
series[2]=35
print("modify series")
print(series)
list3={'Name': pd.Series(['Tarique Zayan', 'Shan-A-Alam', 'FarazUncle']),'Age':pd.Series([25,30,27]) ,'Gender':(['male','Male','Female'])}
df=pd.DataFrame(list3)
df.loc[1,"Name"]="tapan"
df.loc[1,"Age"]=23
print("modify Dataframe")
print(df)

modify series
0     2
1    25
2    35
3     5
4     6
5     7
6     8
7     9
8    11
Name: tapan, dtype: int64
modify Dataframe
            Name  Age  Gender
0  Tarique Zayan   25    male
1          tapan   23    Male
2     FarazUncle   27  Female

Q7. Create a DataFrame using multiple Series. Explain with an example?

In [18]:
name=pd.Series(['tapan','kumar','pati'])
age=pd.Series([23,24,25])
marks=pd.Series([234,543,367])
data={'Name':name,'Age':age,'Mark':marks}
df=pd.DataFrame(data)
print(df)

    Name  Age  Mark
0  tapan   23   234
1  kumar   24   543
2   pati   25   367